.fondo_portada {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #017bc6;
}

.contenedor {
    display: flex;
    align-items: center;
    width: 100%;
}

.imagen_portada {
    padding: 0 50px;
}

.botones_portada {
    padding: 0 300px;
}

.botones_portada input {
    display: block;
}

.botoninicio1,
.botoninicio2,
.botoninicio3 {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 17px;
    color: black;
    background-color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
}