/* FUENTES DE LETRA */
@font-face {
    font-family: 'optima-extrablack';
    src: url("./Optima ExtraBlack/Optima ExtraBlack.ttf") format("truetype");
}

/* PUNTERO LUMINOSO */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conte-padre{
    background-color: black;
    height: 100%;
    width: 100%;
    position: relative;
}

.conte-degradado{
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    cursor:pointer;
}

/* PÁGINA PORTADA */
.fondo_portada {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #017bc6;
}

.contenedor {
    display: flex;
    align-items: center;
    width: 100%;
}

/* .imagen_portada {
    padding: 0 50px;
} */

.boton_portada {
    padding: 0 150px; /* 300px */
}

.botones_portada input {
    display: block;
}

.botoninicio{
    margin-bottom: 50px;
    font-size: 17px;
    color: rgb(155, 70, 70);
    font-family:'optima-extrablack';
    background-color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

/* PÁGINA JUEGO */
.fondo_juego{
    background-color: #017bc6;
    display: flex;
    align-items: center;
}

/* PÁGINA NIVELES */
.fondo_niveles {
    background-color: black;
}

.botones_niveles input{   
    font-size: 17px;
    color: rgb(155, 70, 70);
    font-family:'optima-extrablack';
    background-color: white;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.botones_atajos input{   
    font-size: 17px;
    color: rgb(155, 70, 70);
    font-family:'optima-extrablack';
    background-color: white;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.botones_atajos {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
